*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mid-content-heading{
    margin: auto;
    margin-left: 100px;
    margin-bottom: 20px;

}
#mid-content{
    /* border: 1px solid salmon; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
}
#mid-content > div{
    text-align: center;
}
#mid-content > div > img{
    width: 250px;
    height: 200px;
}
#banner-joinnow{
    border: 1px solid #f9dc93;
    width: 60%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f9dc93;
}
#banner-joinnow > div > img{
    margin: auto;
    width: 100px;
    margin-top: 15px;
    margin-left: 15px;
}
#banner-joinnow > div >  button{
    cursor: pointer;
    background-color: #d11c43;
    color: white;
    border: #d11c43;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 550px;
    padding: 10px;
    border-radius: 5px;
}
#banner-joinnow > p{
    margin-left: 15px;
}
#banner-discount{
    margin: auto;
    width: 80%;
    height: auto;
    margin-top: 20px;
}
#banner-discount > img{
    border-radius: 5px;
}
.slide-container{
    min-height: 40vh;
    max-width: 1100px;
    width: 100%;
    background-color: gray;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.slide-content{
    margin: 0 40px;
}
.card{
    border-radius: 10px;
    background-color: aliceblue;
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-image{
    position: relative;
    height: 200px;
    width: 300px;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    /* object-fit: cover;  */
}
/* banner advertices css*/
.add-banner{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f6f6;
}



 /* news section css part */
#news-section{
    width: 88%;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    position: relative;
}
#news-section > h1{
    width: 85%;
    margin: auto;
    margin-left: 20px;
}
.arrow{
    position: absolute;
    top: 35%;
    font-size: 60px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    left: .5%;
    z-index: 1;
}
.arrow:nth-child(2){
    left: 98%;
    text-align: right;
}
.news-div{
    width: 98%;
    height: 220px;
    margin: auto;
    margin-left: 15px;
    display: flex;
    justify-content: left;
    overflow-x: auto;
}
.news-div::-webkit-scrollbar{
    visibility: hidden;
}
.news-div > div{
    min-width: 250px;
    height: 200px;
    position: relative;
    left: 0;
    text-align: center;
    padding-top: 40px;
    /* font-size: 100px; */
    font-weight: bold;
    margin: 10px 20px;
    color: black;
    background: white;
    transition: 0.5s;
}
.news-content > img{
    width: 100%;
    height: 70%;
    padding: 0 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.news-content > p{
    font-size: small;
    text-align: left;
    width: 90%;
    margin-left: 20px;
}
