html{
    max-width: 1400px;
    margin: auto;
}
*{
    margin: 0px;
    padding: 0px;
}
#top-navbar{
    width: 100%;
    display: flex;
    margin: auto;
    background-color: #eaeaea;
    font-size: smaller;
    padding: 5px;
    gap: 20px;
}
#top-navbar > a:nth-child(1){
    margin-left: 100px;
}
#top-navbar > a{
    text-decoration: none; 
    color: black;      
}
.FSSC{
    margin-left: 35%;     
}
#second-top-navbar{
    width: 100%;
    height: 75px;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    position: relative;
}
#second-top-navbar > div{
    margin: auto;
}
#second-top-navbar > div:nth-child(1){
    margin-left: 100px;
}
#second-top-navbar > div > input{
    width: 350px;
    height: 35px;
    padding: 4px 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e4dede;
}
#second-top-navbar > div:nth-child(6){
    margin-right: 100px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    border-radius: 50%;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    /* border-radius: 3px 0 0 3px; */
    border-radius: 50%;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: white;
    border-radius: 50%;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    /* margin: 0 2px; */
    margin: auto;
    margin-top: -50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    /* display: block; */
    position: absolute;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
  