
*{
    margin: 0px;
    padding: 0px;
    max-width: 2000px;
    margin: auto;
}
select{
    border: transparent;
}
#top-navbar{
    width: 100%;
    display: flex;
    margin: auto;
    background-color: #eaeaea;
    font-size: smaller;
    padding: 5px;
    gap: 20px;
}
#top-navbar > a:nth-child(1){
    margin-left: 100px;
}
#top-navbar > a{
    text-decoration: none; 
    color: black;      
}
.FSSC{
    margin-left: 25%;     
}
#second-top-navbar{
    width: 100%;
    height: 75px;
    display: flex;
    margin: auto;
    margin: 10px 0px;
    /* position: relative; */
}
#second-top-navbar > div{
    margin: auto;
    cursor: pointer;
}
#second-top-navbar > div:nth-child(1){
    margin-left: 100px;
}
#second-top-navbar > div > input{
    width: 100%;
    /* height: 35px;
    padding: 4px 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e4dede; */
    outline: none;
    border: none;
    margin-left: 10px;
    overflow: visible;
}
.search{
    width: 350px;
    height: 35px;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 5px;
}
.search-icon{
    font-size: 20px;
    display: inline-block;
    margin: auto;
    /* margin-left: 160px; */
}

#second-top-navbar > div:nth-child(6){
    margin-right: 100px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    border-radius: 50%;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    /* border-radius: 3px 0 0 3px; */
    border-radius: 50%;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: white;
    /* margin: auto; */
    /* border-radius: 50%; */
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    /* margin: 0 2px; */
    margin: auto;
    margin-top: -50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    /* display: block; */
    position: absolute;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#dot{
    color: #b4b4b4;
    width: 8px;   
}
.icons{
    font-size: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}

 #item-quntinnav{
    background-color: rgb(250, 73, 102);
    color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
 }
 #item-totalinnav {
     /* background-color: rgb(250, 73, 102); */
     color:rgb(250, 73, 102);;
     border-radius: 5px;
     max-height: 28px;
     /* width: 26px; */
     display: flex;
     justify-content: center;
     align-items: center;
     /* font-size: 12px; */
     border: 1px solid rgb(250, 73, 102);
     
 }