*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    max-width:1400px;
    
font-family: 'Lato', sans-serif;

}
#SearchParentBox{
    background-color: 
#f8f8f8;

}
#searchDiv{
    width:65%;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:23px;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:15px;
    font-size: 14px;

}
.cardDiv{
    /* border:1px solid teal; */
    text-align: center;

}
.image{
    width:100%;
    height:140px;
    margin-bottom: 10px;
}
#heading{
    width:65%;
    margin: auto;
}
#heading h3{
    font-size:24px ;
    font-weight: 700;
    margin-bottom: 7px;
}
#heading p{
    font-size: 14px;
    color:
rgb(149, 151, 153)
}

/* .image:hover{
    cursor: pointer;
} */
.cardDiv:hover{
    cursor: pointer;
    color:red;
}
#item-lkfdk{
position: fixed;
top: 60px;
left: 600px;
width: 300px;
height: 40px;

}
.search{
    visibility: hidden;
}